extends ../layouts/common.pug

block content
  
  h1 User List 
      a(href="/users/create") Create New User  
      form.form-inline(action="/users/search", method="GET")
        input.form-control.mr-sm-2(type="text" name="q" placeholder="Enter user")
        button.btn.btn-primary Search
      div.container
        table.table.table-striped.table-dark
          thead 
            tr
              th(scope="col") Avatar
              th(scope='col') Name
              th(scope='col') Action
          tbody
            each user in users
              tr
                td(scope='row') 
                  img(src= user.avatar, width="32") 
                th(scope='row') 
                  span= user.name
                td  
                  a.btn.btn-primary(href="/users/" + user.id) View  
                  span &nbsp;
                  a.btn.btn-danger(href="/users/" + user.id + "/update") Update
                  span &nbsp;
                  a.btn.btn-warning(href="/users/" + user.id + "/delete") Delete
        nav(aria-label='Page navigation example')
          ul.pagination
            li.page-item
              a.page-link(href='#', aria-label='Previous')
                span(aria-hidden='true') &laquo;
                span.sr-only Previous
            li.page-item
              a.page-link(href='/users/') 1
            li.page-item
              a.page-link(href='#') 2
            li.page-item
              a.page-link(href='#') 3
            li.page-item
              a.page-link(href='#', aria-label='Next')
                span(aria-hidden='true') &raquo;
                span.sr-only Next

        

          