extends ../layouts/common.pug

block content
  
  h1 Transaction list
    a(href="transactions/create") Create transaction
    div.container.mt-sm-5
      table.table.table-striped.table-dark
        thead 
          tr
            th(scope='col') Name
            th(scope='col') Action
        tbody
          each transaction in transactions
            tr
              th(scope='row') 
                span= transaction.userName
                span &nbsp;
                span borrowed the book: 
                span &nbsp;
                span= transaction.bookTitle 
              td  
                if !transaction.isComplete
                  a(href="/transactions/" +  transaction.id + "/complete") Complete
                else 
                  span Complete Done    
                            

          